COLOR PICKER
<hr>
<input type="color" id="color-picker style="height: 100%">
<hr>
<div class="picker-box" data-controller="picker" id="picker-box">
  <p class="text-black-boxed" id="hex-code">#ff0000</p>
</div>
