<div class="picker-box" data-controller="picker" id="picker-box">
  <div class="picker-container">
    <div class="hex-copy-bar" id="hex-bar">
      <p class="copy-notification">⎗</p>
      <p class="hex-code" id="hex-code">#ff0000</p>
      <p class="copy-notification">⎗</p>
    </div>
    <%= image_tag "color-wheel.png", class: "colorwheel", id: "colorwheel" %>
  </div>
</div>
