<div class="notes">
  <div class="links">
    <p class="p-0 m-0">LINKS</p>
    <ul class="px-0">
      <% @tool.links.each do |link| %>
        <%= link_to link, link %>
      <% end %>
    </ul>
  </div>
  <%= form_with(model: @tool) do |form| %>
    <div class="note-input">
      <%= form.submit 'Save notes',  class: 'btn btn-light mb-4' %>
      <%= form.text_area :note, class: 'note-text', placeholder: 'write ideas and notes here...' %>
    </div>
  <% end %>
</div>
