<div id="prompt-container" class="m-5">
  <form id="prompt-form" data-controller="prompt" class="">
    <label for="name" class="form-label">name</label>
    <input type="text" name="name" class="form-control">
    <label for="occupation" class="form-label">occupation</label>
    <input type="text" name="occupation" class="form-control">
    <label for="past_tense_verb"  class="form-label">past tense verb</label>
    <input type="text" name="past_tense_verb" class="form-control">
    <label for="negative_adjective" class="form-label">negative adjective</label>
    <input type="text" name="negative_adjective" class="form-control">
    <input type="submit" class="btn btn-light my-3" />
  </form>
</div>
