<div class="" data-controller="tools">
  <ul class="tool-list">
    <% @tools.each do |tool| %>
      <li class="tool-list-item">
        <%= link_to tool.name, tool_path(tool), class: "" %>
        <p class="delete" id="<%= tool.id %>">❌</p>
      </li>
    <% end %>
    <%= link_to new_tool_path, class: "text-decoration-none" do %>
      <li class="">➕</li>
    <% end %>
  </ul>
</div>
