<div class="card w-50 mx-auto mt-3">
  <ul class="list-group list-group-flush">
    <% @tools.each do |tool| %>
      <li class="list-group-item text-center"><%= tool.name %></li>
    <% end %>
  </ul>
</div>
