<div class="home-container">
  <div class="home-top-container">
    <i class="fa-solid fa-fan icon-large icon-black"></i>
    <i class="fa-solid fa-fan icon-large icon-purple"></i>
    <i class="fa-solid fa-fan icon-large icon-black"></i>
    <h1 class="home-title">DIGATOOLS</h1>
  </div>
  <div class="tool-demo-container">
    <h2>YOUR TOOLS</h2>
    <div class="d-flex">
      <div class="tool-demo-col">
        <div class="tool-demo">
          <p>COLOR PICKER</p>
        </div>
        <div class="tool-demo">
          <p>PHOTO IDEATOR</p>
        </div>
        <div class="tool-demo">
          <p>AUTO EQUALIZER</p>
        </div>
        <div class="tool-demo">
          <p>STORY PROMPT GENERATOR</p>
        </div>
      </div>
      <div class="tool-demo-col">
        <div class="tool-demo">
          <p>TOOL</p>
        </div>
        <div class="tool-demo">
          <p>TOOL</p>
        </div>
      </div>
      <div class="tool-demo-col">
        <div class="tool-demo">
          <p>TOOL</p>
        </div>
        <div class="tool-demo">
          <p>TOOL</p>
        </div>
        <div class="tool-demo">
          <p>TOOL</p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-btm-container">
    <h3>WELCOME TO A QUICKER WAY TO MAKE</h3>
    <p>Collect the tools you use to create into one toolbox. Declutter. Make better art.</p>
  </div>
</div>
