.navbar-lewagon {
  justify-content: space-between;
  background: #272727;
  color: #F8C032 !important;
  a {
    color: #F8C032 !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
