.picker-box {
  height: 300px;
  width: 100%;
  @media screen and (max-width: 900px) {
    height: 300px;
  }
  @media screen and (max-width: 600px) {
    height: 200px;
  }
  background-color: #ff0000;
}

.text-black-boxed {
  background-color: black;
  color: white;
  text-align: center;
}
