.picker-box {
  height: 100%;
  width: 100%;
  background-color: #ff0000;
  z-index: 0;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picker-container {
  margin-top: 48px;
  width: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.hex-copy-bar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-align: center;
}

.hex-copy-bar:hover > .copy-notification {
  color: white;
}

.hex-code {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.copy-notification {
  color: black;
  margin-bottom: 0rem !important;
  margin-left: 10px;
  margin-right: 10px;
}

// .tool-container {
//   position: relative;
// }


.colorwheel {
  // background-color: rgb(255, 0, 0);
  width: 320px;
  height: 320px;
  border-radius: 50%;
  cursor: crosshair;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
